{{>header}}
<div class="row" style="margin-top: 3rem;">
    <div class="col-xs-12 col-lg-10 col-xl-8">
        <div class="row" style="margin-top: 3rem;">
            <div class="col-xs-12 col-lg-9">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-xs-4 control-label">Number of Days</label>
                        <div class="col-xs-8">
                            <input type="text" required class="form-control" id="inputEmail3" name="days" placeholder="Provide number of days"  style="margin-bottom: 5px;">
                            <small id="websiteNameHelp" class="form-text text-muted">Note: Type 0 to check for expired passwords!</small>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 3rem;">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-primary">Check for passwords</button>
                        </div>
                    </div>
                </form>
                {{#if data}}
                <table class="table table-striped">
                    <tr>
                        <th>Website</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Expiry</th>
                        <th>Date created</th>
                    </tr>
                    {{#each data as |item|}}
                    <tr>
                        <td>{{item.site_name}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.password}}</td>
                        <td>
                            {{#if item.expired}}
                                {{item.validity}}
                            {{else}}
                                NA
                            {{/if}}
                        </td>
                        <td>{{item.created_on}}</td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
            </div>

            <div class="col-xs-12 col-lg-3">
                <div style="margin-left: 3rem;">
                    {{>action1}}
                    {{>action4}}
                    {{>action2}}
                </div>
            </div>
        </div>
    </div>
</div>        
{{>footer}}